body{
  background: #373737;
}

header{
  position: fixed;
  top :0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items:center;
  background: #000;
  text-align: center;
  z-index: 100;
}

header h1{
  color: red;
  cursor: pointer;
}

.movieGenre,.seriesGenre{
  background-color: #fff;
  font-size: 18px;
  padding: 6px;
  cursor: pointer;
  position: relative;
}

.movieGenre:hover .movieGenreList,.seriesGenre:hover .seriesGenreList{
  display: block;
}

.movieGenreList h4:hover , .seriesGenreList h4:hover{
  text-decoration: underline;
}

.movieGenreList,.seriesGenreList{
  position: absolute;
  width: 115px;
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  top: 33px;
  left: -3px;
  background-color: #fff;
  text-align:center;
  display: none;
}

#containerMovies{
  margin-top: 55px;
  display: flex;
  justify-content: center;
  align-items:center;
  list-style: none;
  flex-wrap: wrap;
}

#containerMovies li{
  margin: 10px 20px;
  border: solid 1px #fff;
  min-width: calc(100% / 4);
  text-align: center;
  min-height: 300px;
}

#containerMovies li h2{
  color: #796a11;
}

#containerMovies .welcome{
  border: 0;
  width: 100%;
  min-height: 150px;
}

.welcome p{
  color: #fff;
  font-size: 20px;
}

.stars{
  color:yellow;
}

.en,.it,.fr,.de,.pt,.es{
  background-image:url('../img/en.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
}

.it{
  background-image:url('../img/it.jpg');
}

.fr{
  background-image:url('../img/fr.png');
}

.de{
  background-image:url('../img/de.png');
}

.pt{
  background-image:url('../img/pt.png');
}

.es{
  background-image:url('../img/es.png');
}

.container{
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.details{
  display: none;
  background-color: #000;
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  color: #fff;
}

.details .more {
  cursor: pointer;
}

.container:hover .details{
  display: block;
}

.error{
  color:red;
}
